@import url(//db.onlinewebfonts.com/c/e75481e7ae79b9e533cef5f80a3d5c68?family=FF+Magda+Clean);

@font-face {
    font-family: "FF Magda Clean";
    src: url("//db.onlinewebfonts.com/t/e75481e7ae79b9e533cef5f80a3d5c68.eot");
    src: url("//db.onlinewebfonts.com/t/e75481e7ae79b9e533cef5f80a3d5c68.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e75481e7ae79b9e533cef5f80a3d5c68.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/e75481e7ae79b9e533cef5f80a3d5c68.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/e75481e7ae79b9e533cef5f80a3d5c68.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/e75481e7ae79b9e533cef5f80a3d5c68.svg#FF Magda Clean") format("svg");
}

.root {
    font-family: "FF Magda Clean", serif;
    line-height: 18px;
    font-size: 14px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.parent {
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    background: rgb(246, 248, 246);
    box-shadow: 20px 20px 30px 5px rgba(0, 0, 0, 0.2);
}

.name,
.stats {
    text-align: right;
    padding-right: 40px;
    position: relative;
}

.name::after,
.stats:after {
    content: '';
    position: absolute;
    right: 0;
    border-left: 1px solid rgb(0, 0, 0, 0.5);
}

.name::after {
    top: 4em;
    bottom: 0;
}

.stats::after {
    top: 0;
    bottom: 4em;
}

.name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-weight: 500;
    line-height: 10em;
}

.stats {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.details {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0 70px 0 40px;
    text-align: left;
}

.detailTop {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
